@import "~bootstrap/scss/bootstrap";
@import "./variables";

.wrapper-outer {
  background-image: none;
  transition: background-image 0.3s;

  &.dark-side {
    background-image: url("../img/bg-stars.png");
    background-size: contain;
    background-position: top center;
    min-height: 100vh;

    .wrapper-inner {
      color: #fff;
    }

    .main-button {
      color: white;
      border-color: white;

      &:hover {
        color: black;
      }
    }

    .text-highlight {
      color: black;
    }
  }
}

.header {
  margin-bottom: 2rem;
}

.header-text {
  text-align: center;
}

.header-logo {
  height: 150px;
  width: 150px;
  background: none;
  border: none;
  appearance: none;

  svg {
    height: 100%;
    width: 100%;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.2));
  }
}

.plot-container {
  margin-top: 2rem;

  .text-highlight {
    position: relative;
    margin: 0 10px;
    min-width: 30px;
    white-space: nowrap;
    z-index: 1;
    font-weight: $font-weight-bold;

    &::before {
      content: " ";
      background-color: rgba(#ffe81f, 1);
      width: calc(100% + 10px);
      position: absolute;
      height: 120%;
      left: -5px;
      top: 0;
      transform: skewX(-15deg);
      z-index: -1;
    }
  }
}

.loading-spinner {
  display: block;
  height: 90px;
  margin: 0 auto 2rem;
  width: 80px;
}

.main-button {
  color: inherit;
  background: none;
  border: 1px solid black;
  padding: 1rem;
  margin: 2rem 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s;

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #ffe81f;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    z-index: -1;
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover {
    &::after {
      height: 420%;
      opacity: 1;
    }
  }
}

.swagmode {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  z-index: 3;

  div {
    display: flex;
    justify-content: center;
    /* This is a magic number based on the context in which this snippet is used and effects the perspective */
    height: 800px;
    /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
    perspective: 400px;
    /* The rest is totally up to personal styling preferences */
    color: #feda4a;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
  }
}
