@import "./variables";
@import "~bootstrap/scss/bootstrap";

// Wrappers

.root {
  overflow: auto;
}

.wrapper-outer {
  min-height: 100vh;
  overflow: auto;
  z-index: 1;
}

.wrapper-inner {
  z-index: 2;
}

// Header

.header-text {
  text-align: center;
}

.header-logo {
  appearance: none;
  background: none;
  border: none;
  height: $header-logo-size;
  transform: translateY(0);
  transition: transform 0.25s;
  width: $header-logo-size;
  will-change: transform;

  .logo {
    filter: $header-logo-shadow;
    height: 100%;
    width: 100%;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

// Plot

.loading-spinner {
  display: block;
  height: $loading-spinner-size;
  margin: $loading-spinner-margin;
  width: $loading-spinner-size;
}

.plot-select {
  color: $body-color;
}

.plot-container {
  .text-highlight {
    font-weight: $font-weight-bold;
    margin: 0 $text-highlight-spacing-x;
    position: relative;
    white-space: nowrap;

    &::before {
      background-color: $text-highlight-color;
      content: " ";
      height: 120%;
      left: -($text-highlight-spacing-x / 2);
      position: absolute;
      top: 0;
      transform: skewX($text-highlight-skew-amount);
      width: calc(100% + #{$text-highlight-spacing-x});
      z-index: -1;
    }
  }
}

.main-button {
  background: none;
  border: $main-button-border;
  color: inherit;
  margin: $main-button-margin;
  overflow: hidden;
  padding: $main-button-padding;
  position: relative;
  text-transform: uppercase;
  transition: $main-button-transition;

  &::after {
    background-color: $main-button-hover-highlight-color;
    content: " ";
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition: height 0.3s, opacity 0.3s;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    &::after {
      height: 420%;
      opacity: 1;
    }
  }
}

// Dark Side

.dark-side {
  background-image: $dark-side-bg;
  background-position: top center;
  background-size: contain;

  .wrapper-inner {
    color: $dark-side-body-color;
  }

  .main-button {
    border-color: $main-button-color-dark-side;
    color: $main-button-color-dark-side;

    &:hover {
      color: $main-button-color-hover-dark-side;
    }
  }

  .text-highlight {
    color: $text-highlight-color-dark-side;
  }
}
